* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family:'Parkinsans', cursive;
}
 body{
    background-color: black;
    padding: 0;
} 
header {
  background-color: black;
  padding: 15px;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
}
header div{
  display: flex;
  align-items: center;
}
header div a{
  color:#fff;
}
ul {

  display: flex;
  color: white;
  gap:30px;
 

  font-weight: bold;
  text-align: center;
}
header ul li {
 
  list-style-type: none;
}
nav{
  display: flex;
  gap: 30px;
}
ul li a {
  color: #fff;
 position: relative;
  font-size: 25px;
  text-decoration: none;
}
header ul li a::after{
  content:"";
  height: 2px;
  left: 0;
 bottom: 0;
  position: absolute;
  width: 0%;
  transition: .5s ease-in-out;
  background-color: red;
}
header ul li a:hover::after{
  width:100%;
  
}
header div{
  display: flex;
  gap:30px;
}
header .bars{
  color:#fff;
/* display: none; */
top: -30px;
position: absolute;
  font-size: 1.9rem;
}
.home {
  color: red;
  font-weight: bold;

}
.connexion {
  background-color: red;
  border: 1px solid red;
  padding: 5px 10px;
  transition: 0.9s ease-in-out;
  border-radius: 6px;
 
}
.connexion:hover{
  transform: scale(0.5);
  background-color: black;
}
h1{
padding-top: 60px;

font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
#section1 {
  width: 100%;
   height: 100vh; 
  border-radius: 20px;
  padding-top: 100px;
  background: url("./home-01-avengers.jpg")  center;
}
.father-circle{
 
  display: grid;
  
 
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  animation:animation 4s linear infinite;
}
.circle{
  width: 70px;
  height: 70px;
  z-index: -10;
  opacity: 0.7;
  left: 40px;
  
  border-radius: 50%;
 
  background-color: #fff;
}
@keyframes animation{
  0%{
    right: 0;
    transform: translateX(50px);
  }
  25%{
 transform: translateY(100px);
  }
  50%{
    transform: rotate('100deg');
  }
  70%{
    top: 50%;
  }
  100%{
    transform: translateX(-50%);
  }
}
.photo1a4 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
 
}


.first-h1 {
  font-size: 70px;
  color: #fff;
  text-align: center;
  justify-content: center;
 

}
.first-h2 {

  font-size: 40px;
  color: #fff;
  text-align: center;
 
  justify-content: center;
}
.photo {
  width: 100%;

  gap: 5px;

  border-radius: 15px;
}
img{
  transition: 1s ease-in-out;
}
img:hover{
  transform: rotateY(180deg);
}
#section2 {
  background-color: black;
  color: #fff;
}

.div-h3 {
  text-align: center;
}
.prochainement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px; 
  
}

.tof {
  width: 100%;
 
  border-radius: 15px;
 
}
#section3 {
  background-color: black;
  color: #fff;
}
.next {
  font-size: 3rem;
  text-align: center;
  position: relative;
  color: red;
  transition: 1s ease-in-out;
  
  background-color: #fff;
  display: block;
}
.next::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: red;
  font-weight: bold;
  bottom: 30px;
}
.next::before{
  content:"";
  position: absolute;
  background-color: red;
  height: 2px;
  left: -220px;
  bottom: 30px;
  width: 50%;
}
.next:hover{
  transform: scale(0.9);
  border-radius: 15px;
}
.bottom {
 
  text-align: center;
} 
.inscription {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

}
.new {
  color: red;
}
form {
  color: white;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  
}

input {
  width: 400px;
 
 border-radius: 5px;
  color: red;
  cursor: pointer;
  justify-content: center;
  transition: 1s ease-in-out;
  font-size: 1rem;
  align-items: center;
}
input[type="email"]{
  padding: 10px 0;
  margin: 5.5px 0;
  text-align: center;
}
input[type="submit"]{
  padding: 10px 0;
  font-size: 1.5rem;
}
input:hover{
  background-color: red;
  color:white;
  
}
textarea{
  text-align: center;
width: 400px;

border-radius: 5px;
padding: 10px 0;
height: 80px;
font-weight: 100;

}
textarea::placeholder{
 margin: 0 auto;
 font-weight: 100;
 font-size: 1.2rem;

}

.for {
  justify-content: center;
 
  align-items: center;
  display: inline;
}
hr {
  background-color: red;
  color: #fff;
}
i {
  color: #fff;
  
}
footer {
  font-size: 20px;
  text-align: center;
}
 @media  screen and (max-width:900px) {

.photo1a4{
  display: block; 
  gap: 30px;
  flex-direction: column;
}
.prochainement{
  display: block;
  flex-direction: column;
}
textarea, input{
  width:400px;
}
form{
  align-items: center;
  display: flex;
 
}

    
} 

/* partie javascript scroll */
.rem{
  font-size: 1.9rem;
  display: none;
}
@media  screen and (max-width:750px) {
  
  header div .bars{
    display: block;
    color:#fff;
    cursor: pointer;
    position: absolute;
    top: 40px;
    padding-top: -10px;
    align-items: center;
    align-items: center;
    display: flex;
  }
  header ul{
    position: absolute;
    display: flex;
    top: 15vh;
    width: 350px;
    height: 400px;
    background-color: black;
    left: -100%;
    transition: 0.7s ease-in-out;
    flex-direction: column;
  }
  .active{
    left: 0;
    transition: 0.7s ease-in-out;
  }
  .rem2{
    display: block;
    position: absolute;
    top: 40px;
    cursor: pointer;
  }
}


.active-scroll{
  background-color:red ;
  padding: 10px;
  border-radius: 7px;
}
